.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.label {
  display: flex;
  flex-direction: column;

  font-size: 18px;
  font-weight: 600;
}

.input {
  text-align: center;

  font-size: 16px;
  font-weight: 500;
}

.btn {
  margin-top: 20px;
  height: 30px;
  font-size: 16px;
  font-weight: 500;

  cursor: pointer;
  color: white;
  background-color: #b5b5b5;
  border: none;
  border-radius: 3px;
}

.btn:hover,
.btn:focus {
  background-color: #888888;
}
